<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Order List</title>
</head>
<body>
<h1>Orders</h1>
<table>
    <thead>
    <tr>
        <th>Order ID</th>
        <th>Name</th>
        <th>Product Name</th>
        <th>Total Price</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="order : ${orders}">
        <td th:text="${order.id}">Order ID</td>
        <td th:text="${order.name}">Name</td>
        <td th:text="${order.productName}">Product Name</td>
        <td th:text="${order.totalPrice}">Total Price</td>
    </tr>
    </tbody>
</table>
</body>
</html>
